html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
	background: transparent url(images/ajax-loader.gif) no-repeat center center;
}


#overmap{
    position: absolute;
    background-color: white;
    height: 80px;
    width: 150px;
    left: 80%;
    top: 80%;
    z-index: 1;
}